/* 1. en saas podemos generar variables */
$color-de-fondo: #f4f4f4;
$color-de-texto: #3498db;
$fuente-principal: 'Arial, sans-serif';

/* 2. Utilizamos las variables en los estilos */
body {
  background-color: $color-de-fondo;
  color: $color-de-texto;
  font-family: $fuente-principal;
  margin: 0;
  padding: 20px;
}
p {
  font-family: $fuente-principal;
  color: darken($color-de-texto, 10%);
}