<div class="productos">
    <h1>Lista de Productos</h1>
    <ul>
        <li>producto 1</li>
        <li>producto 2</li>
        <li>producto 3</li>
        <li>producto 4</li>
        <li>producto 5</li>
    </ul>
</div>